@{
    ViewBag.Title = "ProductDetails";
    Layout = "~/Views/Shared/Navbar.cshtml";
}
@using DTO;

<!doctype html>
<html>
<head>
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, maximum-scale=1">

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

        google.charts.load('current', { 'packages': ['bar', 'line', 'corechart'] });
        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {
            var postiveFeatures = @Html.Raw(Json.Encode(@ViewBag.pFeatureList));
            var positiveFeatureCount=@Html.Raw(Json.Encode(@ViewBag.pCountList));
            var negativeFeatures = @Html.Raw(Json.Encode(@ViewBag.nFeatureList));
            var FeatureCount=@Html.Raw(Json.Encode(@ViewBag.nCountList));
            var listColors=@Html.Raw(Json.Encode(@ViewBag.color));
          

            var data1 = new google.visualization.DataTable();
            data1.addColumn('string', 'Name');
            data1.addColumn('number', 'Value');
            data1.addColumn({ type: 'string', role: 'style' });
            data1.addRows(postiveFeatures.length);
            for (var i = 0; i < postiveFeatures.length; i++) {
                data1.setCell(i, 0, postiveFeatures[i]);
                data1.setCell(i,1, positiveFeatureCount[i]);
                data1.setCell(i,2, listColors[i]);
            }
            var options1 = {

                title: 'Positive Feature Graph',
                hAxis: {
                    title: 'Popularity',
                },
                bars: 'vertical', // Required for Material Bar Charts.
                width: 410,
                height: 290,
                legend: { position: 'none' },
            };

            var chart1 = new google.visualization.BarChart(document.getElementById('positiveFeatureGraph'));
            chart1.draw(data1, options1);



            var data2 = new google.visualization.DataTable();
            data2.addColumn('string', 'Name');
            data2.addColumn('number', 'Value');
            data2.addColumn({ type: 'string', role: 'style' });
            data2.addRows(negativeFeatures.length);
            for (var i = 0; i < negativeFeatures.length; i++) {
                data2.setCell(i, 0, negativeFeatures[i]);
                data2.setCell(i,1, FeatureCount[i]);
                data2.setCell(i,2, listColors[i]);
            }
            var options2 = {

                title: 'Negative Feature Graph',
                hAxis: {
                    title: 'Popularity',
                },
                bars: 'vertical', // Required for Material Bar Charts.
                width: 410,
                height: 290,
                legend: {position: 'none'},
            };

            var chart2 = new google.visualization.BarChart(document.getElementById('negativeFeaturegraph'));
            chart2.draw(data2, options2);


        }
    </script>







</head>
<body style="background-color: white">
    <!--Hero_Section-->
    <div class="container">
        <section id="prodDescription_section" class="ProductPageTop" style="display: none">
            <div class="hero_wrapper" id="prodGraph" style="margin-left: 180px; align-content: center; background-color: #F5F5F5; display: none">
            </div>
        </section>
        <!--Hero_Section-->
        <!--Service-->
        <section id="service">
            <div style="align-self: center">
                <h3 id="ProductTitle">@Model.Title</h3>
            </div>
            <div class="row">

                <div class="col-lg-12">
                    <div class="rcorners">

                        <div class="row" id="product">

                            @*------------------------*@
                            <ul class="nav nav-tabs">
                                <li class="active"><a data-toggle="tab" href="#home">Product Specifications</a></li>
                                <li><a data-toggle="tab" href="#menu1">Product Review</a></li>
                                <li><a data-toggle="tab" href="#menu3" onclick="CallWM(@Model.Id);">Suggestions</a></li>
                            </ul>

                            <div class="tab-content">
                                <div id="home" class="tab-pane fade in active">
                                    @*------------------------*@
                                    <br />

                                    <!--table-->
                                    <div class="span3 tiny ">
                                        <div class="pricing-table-header-tiny">
                                            <h3 class="detail-product">Product Details</h3>

                                        </div>

                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="row" id="productThumbnail">
                                                    <a href="#" class="thumbnail">
                                                        <img src="@Model.ImageUrl" alt="@Model.Title">
                                                    </a>
                                                </div>

                                                <div class="row" id="prodDescBox">
                                                    <p class="descriptionHeader">Description</p>
                                                    <p>@Model.ProductDescription</p>
                                                    <p><b>Price &nbsp;</b>@Model.Price</p>



                                                </div>
                                                <br />
                                            </div>

                                            <div class="col-md-8">
                                                <div class="description" id="prodDesc">
                                                </div>

                                            </div>


                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="table-responsive">
                                                    <table class="table table-bordered">
                                                        <thead>
                                                            <tr>

                                                                <th>Features</th>
                                                                <th>Details</th>

                                                            </tr>
                                                        </thead>
                                                        <tbody>

                                                            @foreach (var spec in @Model.Product_Specification)
                                                            {
                                                                <tr>

                                                                    <td>@spec.Specification.Name</td>

                                                                    <td>@spec.Value</td>

                                                                </tr>
                                                            }





                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- <div class="pricing-table-signup-tiny">
                                            <p><a href="#">Sign Up</a></p>
                                        </div>-->
                                    </div>

                                    @*------------------------*@
                                </div>


                                <div id="menu1" class="tab-pane fade">
                                    <br />

                                    <div class="pricing-table-header-tiny">
                                        <h3 class="detail-product">Review Summary</h3>

                                    </div>
                                    <br />
                                    <div class="SummaryBox">
                                        <p>At last: the laptop buyer's guide we wanted to write three months ago. You see, when it came time to publish our spring edition, Intel was on the cusp of releasing its fourth-generation Core processors, which meant almost everything we were recommending was destined for a refresh. So we basically said, "Wait for Haswell," and called it a day. By now, though, most of said companies have upgraded their notebooks, if not released brand-new ones, so we can finally recommend stuff without any caveats about obsolescence.</p>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="pricing-table-header-tiny">
                                                <h3 class="detail-product">Customer Reviews</h3>

                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="col-md-7">
                                            @foreach (var review in @Model.ProductReviews)
                                            {

                                                <div class="ReviewBox">
                                                    <div class="row">
                                                        <div class="col-xs-2">
                                                            <a href="#" class="thumbnail">
                                                                <img src="http://www.free-icons-download.net/images/user--user-icon-32727.png" alt="USer">
                                                            </a>
                                                        </div>
                                                        <div class="col-md-10">
                                                            <div class="p-class">
                                                                <p class="p-class">@review.Review</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <br />

                                            }
                                        </div>

                                        <div class="col-md-5">
                                            <div class="row">
                                                <div class="ReviewPageGraph" id="positiveFeatureGraph">

                                                </div>
                                                <br />
                                            </div>

                                            <div class="row">
                                                <div class="ReviewPageGraph" id="negativeFeaturegraph">

                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </div>

                                <div id="menu3" class="tab-pane fade">
                                    <br />
                                    <div class="pricing-table-header-tiny">
                                        <h3 class="detail-product">Sugested Products </h3>
                                    </div>
                                    <br />
                                    <div class="row" style="margin-left:2%;display:none" id="relatedProdRow5">

                                        <div class="col-lg-2">

                                            <a href="#" class="thumbnail">
                                                <img src="~/img/Hpenvyspectre.jpg" alt="Flower" id="relatedProdimg5" style="height:127px">
                                            </a>

                                        </div>

                                        <div class="col-lg-6" id="searchMargin">


                                            <a href="" id="relatedProdName5">Hp Envy Spectre 13 with 3D Glasses</a>

                                            <pre id="relatedProddesc5">The HP Spectre 13t-3000 Ultrabook packs a user-friendly touchpad, strong performance and long battery life in a beautiful design.The HP Spectre x360 13t midrange convertible-hybrid laptop combines premium, all-metal construction, a refined portable design, and solid performance that matches that of more expensive systems.</pre>
                                        </div>

                                    </div>
                                    <br />

                                    <!--2nd-->

                                    <div class="row" style="margin-left:2%;display:none" id="relatedProdRow1">

                                        <div class="col-lg-2">

                                            <a href="#" class="thumbnail">
                                                <img src="~/img/Hpenvyspectre.jpg" alt="Flower" id="relatedProdimg1" style="height:127px">
                                            </a>

                                        </div>

                                        <div class="col-lg-6" id="searchMargin">


                                            <a href="" id="relatedProdName1">Hp Envy Spectre 13 with 3D Glasses</a>

                                            <pre id="relatedProddesc1">The HP Spectre 13t-3000 Ultrabook packs a user-friendly touchpad, strong performance and long battery life in a beautiful design.The HP Spectre x360 13t midrange convertible-hybrid laptop combines premium, all-metal construction, a refined portable design, and solid performance that matches that of more expensive systems.</pre>
                                        </div>

                                    </div>
                                    <br />
                                    <!--3rd-->

                                    <div class="row" style="margin-left:2%;display:none" id="relatedProdRow2">

                                        <div class="col-lg-2">

                                            <a href="#" class="thumbnail">
                                                <img src="~/img/Hpenvyspectre.jpg" alt="Flower" id="relatedProdimg2" style="height:127px">
                                            </a>

                                        </div>

                                        <div class="col-lg-6" id="searchMargin">


                                            <a href="" id="relatedProdName2">Hp Envy Spectre 13 with 3D Glasses</a>

                                            <pre id="relatedProddesc2">The HP Spectre 13t-3000 Ultrabook packs a user-friendly touchpad, strong performance and long battery life in a beautiful design.The HP Spectre x360 13t midrange convertible-hybrid laptop combines premium, all-metal construction, a refined portable design, and solid performance that matches that of more expensive systems.</pre>
                                        </div>

                                    </div>
                                    <br />
                                    <!--4th-->
                                    <div class="row" style="margin-left:2%;display:none" id="relatedProdRow3">

                                        <div class="col-lg-2">

                                            <a href="#" class="thumbnail">
                                                <img src="~/img/Hpenvyspectre.jpg" alt="Flower" id="relatedProdimg3" style="height:127px">
                                            </a>

                                        </div>

                                        <div class="col-lg-6" id="searchMargin">


                                            <a href="" id="relatedProdName3">Hp Envy Spectre 13 with 3D Glasses</a>

                                            <pre id="relatedProddesc3">The HP Spectre 13t-3000 Ultrabook packs a user-friendly touchpad, strong performance and long battery life in a beautiful design.The HP Spectre x360 13t midrange convertible-hybrid laptop combines premium, all-metal construction, a refined portable design, and solid performance that matches that of more expensive systems.</pre>
                                        </div>

                                    </div>
                                    <br />
                                    <!--5th-->
                                    <div class="row" style="margin-left:2%;display:none" id="relatedProdRow4">

                                        <div class="col-lg-2">

                                            <a href="#" class="thumbnail">
                                                <img src="~/img/Hpenvyspectre.jpg" alt="Flower" id="relatedProdimg4" style="height:127px">
                                            </a>

                                        </div>

                                        <div class="col-lg-6" id="searchMargin">


                                            <a href="" id="relatedProdName4">Hp Envy Spectre 13 with 3D Glasses</a>

                                            <pre id="relatedProddesc4">The HP Spectre 13t-3000 Ultrabook packs a user-friendly touchpad, strong performance and long battery life in a beautiful design.The HP Spectre x360 13t midrange convertible-hybrid laptop combines premium, all-metal construction, a refined portable design, and solid performance that matches that of more expensive systems.</pre>
                                        </div>

                                    </div>
                                    <br />

                                    <!---->
                                </div>
                            </div>
                            @*------------------------*@

                        </div>
                    </div>

                </div>
        </section>
        <!--Service-->
        <!-- Portfolio -->
        <section id="ProductReview" class="content">
            <div class="row">
                <div class="col-lg-8"></div>
            </div>
        </section>


        <script>
            function CallWM(prodId) {

                var prodName = $('#ProductTitle').text();



                RealCallWM(prodName,prodId);


            }
            function RealCallWM(prodName,prodId) {

                $.ajax({
                    type: "GET",
                    data: { RelatedProdName: prodName, RelatedProdId: prodId},

                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    url: 'http://localhost/Engine/Home/RelatedProducts',

                    async: true,
                    success: function (result) {
                        str="";
                        j = 1;
                        $.each(result, function (i, product) {
                            $("#relatedProdRow"+j).show();
                            $("#relatedProdimg"+j).attr("src", product.ImageUrl);
                            $("#relatedProdName"+j).text(product.Title);
                            $("#relatedProdName"+j).attr("href","../../FYPAdam/ADAMHome/ProductDetails?pId="+product.Id);
                            $("#relatedProddesc"+j).text(product.ProductDescription);

                            str=str+j;

                            j++;



                        });





                    },
                    failure: function (data) {
                        alert(data);
                    },
                    error: function (data) {
                        alert(data);
                    }
                });
            }
        </script>


        <!--/Portfolio -->

    </div>
</body>
</html>



